{
  "PORT": 8080,
  "URL_PATH_PREFIX": "",
  "API_BASE": "https://siscodex.base.domain/api",
  "RECODEX_URI:": "https://recodex.webapp.domain",
  "TITLE": "SIS-CodEx",
  "SKIN": "success",
  "PERSISTENT_TOKENS_KEY_PREFIX": "recodex-sis"
}
